<nz-collapse>
      <nz-collapse-panel *ngFor="let panel of panels; let i = index" [nzHeader]="panel.name" [nzActive]="panel.active" [nzShowArrow]="panel.arrow" [class.sticky-header]="true"
      [style.top.px]="i * 50" >
        <p style="margin:0;">
          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
          guest in many households across the world.
        </p>
        <p style="margin:0;">
            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
            guest in many households across the world.
          </p>
          <p style="margin:0;">
            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
            guest in many households across the world.
          </p>
          <p style="margin:0;">
            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
            guest in many households across the world.
          </p>
          <p style="margin:0;">
            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
            guest in many households across the world.
          </p>
          <p style="margin:0;">
            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
            guest in many households across the world.
          </p>
          <p style="margin:0;">
              A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
              guest in many households across the world.
            </p>
            <p style="margin:0;">
              A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
              guest in many households across the world.
            </p>
            <p style="margin:0;">
              A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
              guest in many households across the world.
            </p>
            <p style="margin:0;">
              A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
              guest in many households across the world.
            </p>
      </nz-collapse-panel>
  </nz-collapse>